.list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkorange;
    font-size: 22px;
}
body{
    background-color: rgb(226, 226, 226);
}
img{
    width: 300px;
}
iframe{
    width: 420px;
}
.anchor{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkred;
    font-size: 20px;
}
.link{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hotpink;
}
.header{
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
    text-align: center;
}
